<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="EventPlannerSuite">
    <test name="EventPlannerTests">
        <groups>
            <run>
                <include name="createEvent"/>
                <include name="addAttendee"/>
                <include name="removeAttendee"/>
                <include name="sendInvitations"/>
                <include name="scheduleEvent"/>
            </run>
        </groups>
        <classes>
            <class name="com.ultralesson.eventplanner.AttendeeTest"/>
            <class name="com.ultralesson.eventplanner.EventCreationTest"/>
            <class name="com.ultralesson.eventplanner.EventPlannerTest"/>
            <class name="com.ultralesson.eventplanner.InvitationSenderTest"/>
            <class name="com.ultralesson.eventplanner.ScheduleTest"/>
        </classes>
    </test>
</suite>
